{% set catch_cache = content|render %}
{{ attach_library('base/timeline') }}
<div class="timeline-section">
    <div class="date"><strong>{{content.field_month}}</strong>{{content.field_year}}</div>
    <div class="blurb">
        <p class="title"><strong>{{content.field_title}}</strong></p>
        <p class="caption">{{content.field_plain_text}}</p>
    </div>
</div>